{% extends 'base.html' %}
{% load static %}

{% block extCSS %}
    <link rel="stylesheet" href="{% static 'app/user/register/register.css' %}">
{% endblock %}

{% block extJS %}
    <script src="{% static 'js/md5.js' %}"></script>
    <script src="{% static 'app/user/register/register.js' %}"></script>>
{% endblock %}

{% block header %}
    <header>注册</header>
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="{% url 'axf:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="{% if status == '0' %} has-error {% else %}{% endif %}">
                <div class="form-group">
                    <label>用户名</label>
                    <input id="username" name="username" type="text" class="form-control"
                           placeholder="6-18位的数字字母下划线，不能以数字开头">
                </div>
                <p id="username_errmsg"></p>
            </div>
            <div class="form-group">
                <label>密码</label>
                <input id="password" name="password" type="password" class="form-control" placeholder="8位以上字符">
            </div>

            <div class="form-group">
                <label>确认密码</label>
                <input id="repassword" type="password" class="form-control" placeholder="请再次输入密码">
            </div>

            <div class="form-group">
                <label>邮箱</label>
                <input id="email" name="email" type="email" class="form-control" placeholder="输入合法的邮箱">
            </div>

            <div class="form-group">
                <label>头像</label>
                <input type="file" name="icon">
            </div>
            <button type="submit" class="btn btn-success">注册</button>

        </form>
    </div>
{% endblock %}